/* Error: Undefined variable.
 *   ,
 * 4 |   --r-background-color: #{$backgroundColor};
 *   |                           ^^^^^^^^^^^^^^^^
 *   '
 *   theme/template/exposer.scss 4:27  @import
 *   theme/template/theme.scss 7:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502    --r-background-color: #{$backgroundColor};\a   \2502                            ^^^^^^^^^^^^^^^^\a   \2575 \a   theme/template/exposer.scss 4:27  @import\a   theme/template/theme.scss 7:9     root stylesheet";
}
