@charset "utf-8";
/* CSS Document */

/* Fonts */
@font-face { font-family: OpenSans_Light; src: url(../fonts/OpenSans_Light.ttf); }
@font-face { font-family: OpenSans_Regular; src: url(../fonts/OpenSans_Regular.ttf); }
@font-face { font-family: OpenSans_Semibold; src: url(../fonts/OpenSans_Semibold.ttf); }
/* Fonts */

.half_container_one { width: 48% !important; float: left !important; }
.half_container_two { width: 48% !important; float: right !important; }
.cell { width: 100% !important; background-color: #254356; padding: 1px 30px !important; border-radius: 8px; box-sizing: border-box !important; margin-bottom: 10px !important; position: relative; min-height: 78px; box-sizing: border-box; }
.button_stroke { width: auto !important; background-color: none; border: 3px solid #FFF !important; padding: 0px 30px !important; border-radius: 8px; box-sizing: border-box !important; margin-bottom: 10px !important; position: relative; display: inline-block !important; cursor: pointer; }
.button_stroke p { margin: 15px 0px !important; }
.hljs { background-color: #254356 !important; padding: 20px 30px !important; border-radius: 8px; box-shadow: none !important; }
.reveal pre { box-shadow: none !important; }
.check_mark { position: absolute; top: 0px; right: 15px; }
.reveal pre { margin: 20px 0px !important; }
.table_cell { width: 100%; border: 1px solid rgba(255,255,255, 0.3) !important; padding: 10px 20px !important; box-sizing: border-box; margin-bottom: 20px !important; font-size: 30px !important; background-color: rgba(255,255,255, 0.1); }
ul { list-style: square url("../images/bullet.png"); list-style-position: outside; width: 100% !important; }
ol, dl, ul { margin: 0 0 0 12px !important; }

ul li ul li { font-size: 24px !important; opacity: 0.7; }
.sub_sub_point { font-size: 24px !important; opacity: 0.7; }

.third_container_one { width: 30%; float: left; }		
.third_container_two { width: 30%; margin: 0px 5% !important; float: left; }		
.third_container_three { width: 30%; float: left; }

.controls .navigate-right.enabled { border-left-color: #FFF !important; }
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled { border-right-color: #FFF !important; }
.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled { border-top-color: #FFF !important; }
.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled { border-bottom-color: #FFF !important; }
.reveal .slides { width: 80% !important; }
img { border: none !important; box-shadow: none !important; }
.slide_icon { width: 45px; height: 45px; display: inline-block; vertical-align: middle !important; border: none !important; margin-right: 20px !important; margin-top: 6px !important; box-shadow: none !important; }

.green_bg { text-align: left !important; }
.green_bg a:link { color: #254356 !important; }
.green_bg a:visited { color: #254356 !important; }
.green_bg a:active { color: #000 !important; }
.green_bg a:hover { color: #000 !important; }
.green_bg h2 { color: #FFF !important; }
.green_bg h3 { color: #FFF !important; }
.green_bg p { color: #FFF !important; }
.green_bg li { color: #FFF !important; }

.blue_bg { text-align: left !important; }
.blue_bg a:link { color: #FFF !important; }
.blue_bg a:visited { color: #FFF !important; }
.blue_bg a:active { color: #000 !important; }
.blue_bg a:hover { color: #000 !important; }
.blue_bg h2 { color: #FFF !important; }
.blue_bg h3 { color: #FFF !important; }
.blue_bg p { color: #FFF !important; }
.blue_bg li { color: #FFF !important; }

.gray_bg { text-align: left !important; }
.gray_bg a:link { color: #FFF !important; }
.gray_bg a:visited { color: #FFF !important; }
.gray_bg a:active { color: #000 !important; }
.gray_bg a:hover { color: #000 !important; }
.gray_bg h2 { color: #FFF !important; }
.gray_bg h3 { color: #FFF !important; }
.gray_bg p { color: #FFF !important; }
.gray_bg li { color: #FFF !important; }

h2 { font-family: OpenSans_Light !important; font-size: 46px !important; font-weight: 100 !important; }
h3 { font-family: OpenSans_Light !important; font-size: 36px !important; font-weight: 100 !important; }
p { font-family: OpenSans_Light !important; font-size: 28px !important; font-weight: 100 !important; }
li { font-family: OpenSans_Light !important; font-size: 28px !important; font-weight: 100 !important; }

.reveal pre { 
  background-color: rgba(255, 251, 255, 0.9); 
  color: darkblue; 
  padding: 20px; 
  border: 1px solid rgba(255,255,255, 0.1); 
  border-radius: 8px; 
  font-family: monospace; 
  white-space: pre; 
  font-weight: 300; 
  font-size: 0.4em; 
}

pre.large { font-size: 0.6em !important; }

.reveal code {
    font-family: monospace;
    color: darkred;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background-color: #FFFBFF;
    padding: 2px;
}

.reveal code.smaller {
  font-size: 0.8em;
}

.reveal .topcorner{
   position:absolute;
   top:0;
   right:0;
   z-index:-1;
  }

.reveal .topcorner img {
   background: rgba(255, 255, 255, 0);
}

span.keyword {
   color: #FFFF00;
   font-weight: bold !important;
}
